<nav class="bg-transparent hover:bg-[#2404AA] text-white p-6 fixed w-full top-0 left-0 z-10">
    <div class="w-2/3 mx-auto flex justify-between items-center">
        <ul class="flex space-x-4 font-semibold justify-center items-center">
            <li><img src="./favicon.svg" /></li>
            <li><a href="#" >Max</a></li>
            <li><a href="#">Arc Search</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <!-- <div class="font-bold text-xl">Arc Browser</div> -->
        <button class="bg-white text-[#2404AA] rounded-lg px-6 py-2">
            Download Arc for Windows</button>
    </div>
</nav>
