---
import { FaApple } from "react-icons/fa";
import { SiWindows11 } from "react-icons/si";
---

<div class="relative w-full  bg-[#3139FB] bg-[url('./noise-light.png')] bg-fixed justify-center items-center">
    <div class="flex flex-col max-h-screen pt-64 pb-3 w-2/3 m-auto items-center justify-center">
        <div class="max-w-3xl text-center text-white font-bold text-5xl">Arc is the Chrome replacement I’ve been waiting for.</div>
        <div class="flex flex-row gap-4 m-10">
            <button class="bg-white flex items-center gap-1 text-[#2404AA] rounded-lg px-6 scroll-py-2">
                <SiWindows11 />
                Download Arc for Windows</button>
            <button class="bg-[#2404AA] flex items-center gap-1 text-white rounded-lg px-9 py-2">
                <FaApple />
                Download Arc for Mac</button>
        </div>
        <img class="max-w-7xl"
         src="./windows-browser-mmmhome.webp" />
    </div>
</div>